
body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f1;
  color: #444;
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* LOADER MOVIES LIST */
.loader {
  position: relative;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #3cefff;
  border-right-color: #3cefff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LOADER MOVIE DETAILS */
svg {
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* PROGESS BAR */

@import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box;
}



.set-size {
  font-size: 10em;
}
.pie-wrapper {display:inline-block;position:relative;display:inline-block;width:200px;height:200px;margin:10px;border:10px  solid #ddd;border-radius:50%}
.pie-wrapper .pie {clip:rect(0,200px,200px,100px);height:200px;position:absolute;width:200px;margin:-10px 0 0 -10px}
.pie-wrapper .pie .half-circle {border:10px solid #3498db;clip:rect(0,100px,200px,0);height:200px;position:absolute;width:200px;border-radius:50%}
.pie-wrapper .label{position:absolute;top:5%;left:5%;display:block;width:180px;height:180px;color:#7f8c8d;cursor:default;font-size:3em;line-height:3em;text-align:center;border-radius:50%}
.pie-wrapper .label em {padding-bottom:20px;color:#bdc3c7;font-size:.45em;vertical-align:super;font-style:normal}
.pie-wrapper .shadow {width:100%;height:100%;border:20px solid #bdc3c7;border-radius: 50%}
.pie-wrapper.progress-half .pie .right-side {display: none}
.pie-wrapper.progress-half .pie .half-circle {border-style:solid;border-image:-webkit-linear-graident(#ff0000, #ffff00)}
.pie-wrapper.progress-half .pie .left-side,.pie-wrapper.progress-full .pie .left-side {-webkit-transform: rotate(165deg);-moz-transform: rotate(165deg);transform: rotate(165deg)}
.pie-wrapper.progress-full .pie .left-side{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg)}
.pie-wrapper.progress-full .pie{clip:inherit}
.pie-wrapper.progress-full .pie .right-side {display:block}
.pie-wrapper.progress-full .pie .right-side{-webkit-transform: rotate(300deg);-moz-transform: rotate(300deg);transform: rotate(300deg)}
div,div:before,div:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}
html,body {background: #ecf0f1;  color: #444;font-family: Tahoma, Geneva, sans-serif;font-size: 16px}


/* SLIDER */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6
}


.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url("http://image.tmdb.org/t/p/w780/xRWht48C2V8XNfzvPehyClOvDni.jpg") no-repeat center center/cover;
} 
.slide:nth-child(2) {
  background: url("http://image.tmdb.org/t/p/w780/9HyNgy6xYikHRP3veDN26AwCLsB.jpg") no-repeat center top/cover;
} 
.slide:nth-child(3) {
  background: url("http://image.tmdb.org/t/p/w780/xnopI5Xtky18MPhK40cZAGAOVeV.jpg") no-repeat center top/cover;
} 
.slide:nth-child(4) {
  background: url("http://image.tmdb.org/t/p/bk8LyaMqUtaQ9hUShuvFznQYQKR.jpg") no-repeat center top/cover;
} 
.slide:nth-child(5) {
  background: url("http://image.tmdb.org/t/p/w780/rjbNpRMoVvqHmhmksbokcyCr7wn.jpg") no-repeat center top/cover;
} 
.slide:nth-child(6) {
  background: url("http://image.tmdb.org/t/p/w780/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg") no-repeat center top/cover;
} 

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: -600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slider .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  opacity: 0.5;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media(max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

.header {
  background: white;
  z-index: 1;
}

.home {
  background: orangered;
}

/* Login Header */

.loginInformation {
  display: flex;
}
.loginForm {
  display: flex;
  background: yellowgreen;

}

/* MovieList */

.moviesListPage {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: orangered;
}

.movieList_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  background: greenyellow;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navLinks {
  display: flex;
}
.navLinks button{
  margin: 2rem;
}
.moviesList {
  display: flex;
  flex-wrap: wrap;
  background: greenyellow;
}

.inputSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.inputSearch input {
  width: 15%;
  border-radius: 100px;
  font-family: inherit;
  font-size: inherit;
  background-color: lightgray;
  border: 1px solid black;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 25%;
  transition: all .5s;
  margin-right: -3.5rem;
}
.inputSearch input:focus{
  outline: none;
  width: 33%;
  transition: all 2s;
}

.movieCard, .favoriteCard {
  position: relative;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem auto;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
}

.movieCard h4 {
  color: #f3f3f3;
  text-transform: uppercase;
  opacity: 0.4;
}
.movieCard img, .favoriteCard img{
  opacity: 0.5;
  transform: scale(1.4);

}
.movieCard img:hover, .favoriteCard img:hover{
  opacity: 1;
  transform: scale(1);
  transition: all 0.8s;
}


/* MovieDetails COmponenet */

.moviePoster {
  width: 100%;
  height: 100vh;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  background-color: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));

}

.movieDetails_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieDescription {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.movieRatings {
  width: 100%;
  /* background: #3cefff; */
  display: flex;
  align-items: center;

  /* justify-items: space-around; */
  justify-content: space-around;
}


.votingBtns {
  display: flex;
}

/* FAVORITES */
.favoriteList__page {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: orangered;
}
.favoriteList {
  display: flex;
  flex-wrap: wrap;
  background: greenyellow;

}
/* 

.favoriteCard {
  background: blue;
  background-image: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px auto;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 0;
  cursor: pointer;
  margin: 0 auto;
} 
*/

.btn_delete {
  position: absolute;
  left: 8%;
  top:2%;
  transform: translate(8%,2%);
  cursor: pointer;
}

.btn_delete:hover {
  background: red;
}